cluster.name: "docker-cluster"
cluster.initial_master_nodes: [{% for host in ansible_play_hosts %}{% if hostvars[host].elk_node_init_master == true %}{% if not loop.first %},{% endif %}"{{hostvars[host].elk_listen_ip}}"{% endif %}{% endfor %}]

network.bind_host: 0.0.0.0
network.publish_host: {{hostvars[inventory_hostname].elk_listen_ip}}

node.master: {{ hostvars[inventory_hostname].elk_node_master | default('yes') }}
node.data: {{ hostvars[inventory_hostname].elk_node_data | default('yes') }}

xpack.license.self_generated.type: basic
