cluster.name: "docker-cluster"
{% if ansible_play_hosts | length == 1 %}
network.host: 0.0.0.0
{% else %}
cluster.initial_master_nodes: [{% set init_master_first = true %}{% for host in ansible_play_hosts %}{% if hostvars[host].elk_node_init_master == 'yes' and init_master_first == true %}{% set init_master_first = false %}{% elif hostvars[host].elk_node_init_master == true %},{% endif %}"{{hostvars[host].elk_listen_ip}}"{% endfor %}]

network.bind_host: 0.0.0.0
network.publish_host: {{hostvars[inventory_hostname].elk_listen_ip}}

node.master: {{ hostvars[inventory_hostname].elk_node_master | default('yes') }}
node.data: {{ hostvars[inventory_hostname].elk_node_data | default('yes') }}
{% endif %}

xpack.license.self_generated.type: basic
