server.name: kibana
server.host: "0"
elasticsearch.hosts: [ {% for host in ansible_play_hosts %}"{{host}}"{% if not loop.last %}, {% endif %}{% endfor %} ]
xpack.monitoring.ui.container.elasticsearch.enabled: false
