input {
        tcp {
                port => 5000
        }
        beats {
                port => 5044
        }
}

{{logstash_custom_filters}}

output {
        elasticsearch {
                hosts => [{% for host in ansible_play_hosts %}"{{{{hostvars[host].elk_listen_ip}}:9200}}"{% if not loop.last %}, {% endif %}{% endfor %}]
        }
}